doctype html
html
  head
    meta charset='UTF-8'
    meta name='viewport' content='width=device-width, initial-scale=1'
    meta name='theme-color' content='#{settings.application_color}'
    title = t 'title'

    link rel='shortcut icon' type='image/png' href='/images/favicon.png'

    == js_include 'lib/jquery', 'lib/bootstrap.min', 'lib/google-charts.min', 'lib/moment.min',
                  'lib/bootstrap-datetimepicker.min', 'i18n/i18n', 'i18n/translations'

    == css_include 'global', 'lib/font-awesome.min', 'lib/bootstrap.min', 'lib/bootstrap-theme.min',
                   'lib/bootstrap-datetimepicker.min'

  body
    .container
      == yield

  javascript:
    I18n.defaultLocale = "#{I18n.default_locale}";
    I18n.locale = "#{I18n.locale}";
