@import 'assets/css/variables/colors';

.configuration-modal-body {
  .configuration-blocks {
    input[type=checkbox] {
      vertical-align: middle;
      position: relative;
      bottom: 4px;
      zoom: 1.2;

      margin-right: 10px;
    }

    input[type=range] {
      display: inline;
      width: 40%;

      margin-right: 10px;

      position: relative;
      bottom: -4px;
    }

    input[type=number] {
      display: inline-block;
      width: 50px;
    }
  }

  label {
    font-size: 120%;
    width: 180px;
  }

  span.unit {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
  }

  .configuration-overalls {
    label {
      width: 210px;
    }

    span.value {
      text-align: right;
      display: inline-block;
      width: 50px;
    }
  }

  #notices {
    .ok {
      color: @green-ok;
    }

    .error {
      color: @red-error;
    }
  }
}

#chart-container {
  width: 100%;
  min-height: 500px;
}
