#configuration-modal.modal.fade tabindex='-1' role='dialog'
  .modal-dialog role='document'
    .modal-content
      .modal-header
        button.close type='button' data-dismiss='modal'
          span aria-hidden='true' &times;
        h3.modal-title = t 'simulator.controls.modal.title'

      .modal-body.configuration-modal-body
        .configuration-blocks
          - totals = Hash.new 0
          - [Simulator::ManageableEnergy, Simulator::UnmanageableEnergy, Simulator::ReversiblePowerPlant].each do |klass|
            .configuration-block id='configuration-block-#{klass.id_name}'
              h4.title = klass.display_name
              .configuration-properties
                - klass.all.each do |e|
                  - totals[klass] += e.default_value
                  .configuration-property id='configuration-property-#{e.name}'
                    input type='hidden' name='name' value='#{e.name}'
                    input type='checkbox' name='enabled' checked=('checked' if e.default_enabled)
                    label = e.display_name
                    input.range-value type='range' name='range-value-range' value='#{e.default_value}' min='#{e.min_watt}' max='#{e.max_watt}'
                    input.range-value type='number' name='range-value-number' value='#{e.default_value}' min='#{e.min_watt}' max='#{e.max_watt}'
                    span.unit = e.unit
        hr
        / Logic for overall validations are ubicated in assets/js/simulator.coffee
        .configuration-overalls
          - [Simulator::ManageableEnergy, Simulator::UnmanageableEnergy].each do |klass|
            .configuration-overall id='configuration-overall-#{klass.id_name}'
              input type='hidden' name='name' value='#{klass.id_name}'
              label = klass.overall_name
              span.value = totals[klass]
              span.unit = klass.unit
        hr
        #notices
      .modal-footer
        button.btn.btn-default type='button' data-dismiss='modal' = t 'buttons.cancel'
        button#configuration-start-simulation.btn.btn-primary type='button' = t 'simulator.controls.modal.accept'
