.form-group.date-controls
  label for='date-to-input' = t 'simulator.controls.date_from.title'
  #date-from.input-group
    input#date-from-input.form-control type='text' placeholder='#{t 'simulator.controls.date_from.placeholder'}'
    span.input-group-addon
      span.glyphicon.glyphicon-calendar

.form-group.date-controls
  label for='date-to-input' = t 'simulator.controls.date_to.title'
  #date-to.input-group
    input#date-to-input.form-control type='text' placeholder='#{t 'simulator.controls.date_to.placeholder'}'
    span.input-group-addon
      span.glyphicon.glyphicon-calendar

.row
  .col-xs-6.configuration-controls
    button#configure-button.btn.btn-default data={ toggle: 'modal', target: '#configuration-modal' } disabled='disabled'
      span = t 'simulator.controls.configure.title'
      span.glyphicon.glyphicon-cog
  
  .col-xs-6.speed-controls
    / TODO: Show current speed

    .btn-group
      button#slow-down-simulation.btn.btn-default disabled=""
        span.glyphicon.glyphicon-backward
      button#play-simulation.btn.btn-default disabled=""
        span.glyphicon.glyphicon-play
      button#speed-up-simulation.btn.btn-default disabled=""
        span.glyphicon.glyphicon-forward
    
    .status
      span#speed-status

/ Modal content
== slim :'/simulator/_configuration_modal'
