== js_include 'utils', 'configuration', 'charts', 'speed_controls'
== css_include 'simulator'

h1 = t 'simulator.title'

.row
  .controls.col-xs-4
    == slim :'/simulator/_controls'

  .chart.col-xs-8
    == slim :'/simulator/_chart'
